* {
  box-sizing: border-box; 
  font-family: 'Courier New';
  color: white;
}

html {
  /* background: linear-gradient(120deg, #43bee5 50%, #161b40 calc(50% + 1px)); */
  background-color: #161b40;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar * {
  display: inline;
}

.navbar li {
  margin: 20px;
}

.navbar a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.navbar a:hover {
  color: #43bee5;
}

#hero {
  margin-left: 15%;
  margin-top: 18%;
}

#hero h1 {
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 0%;
}

#hero h2 {
  font-size: 60px;
  font-weight: 500;
}

.content {
  display: block;
  position: sticky;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
}

.content a {
  color: #43bee5;
}

#about {
  margin-top: 15%;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

h4 {
  display: inline;
  font-size: 20px;
}

p {
  font-size: 20px;
}

button, input[type=submit] {
  background-color: #41b853; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Courier New';
  font-weight: 700;
  border-radius: 40px;
}

button a {
  text-decoration: none;
}

.projects {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-gap: 20px;
}

.project {
  font-size: 30px;
  text-align: center;
  display: inline-grid;
  clear: left;
}

.project p {
  display: inline-block;
}

img {
  filter: invert(100%);
  float: left;
  display: inline;
  padding: 10px;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical;
  color: black;
}

h6 {
  font-size: 30px;
  margin-bottom: 1%;
  margin-top: 1%;
}